.brands {
    padding-top: 110px;
    padding-bottom: 180px;
    &__title {
        margin-bottom: 75px;
    }
    &-items {
        max-width: 1020px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(4, auto);
        align-items: center;
        justify-content: space-between;
        column-gap: 20px;
        row-gap: 80px;
        &__item {
            img {
                max-width: 100%;
            }
        }

    }
}