.title {
    font-family: 'CalSans';
    font-weight: 600;
    font-size: 44px;
    line-height: 53px;
    color: #121212;
    text-align: center;
    span {
        font-family: 'CalSans';
        color: #FF6428;
    }
}